Source: autobuilder
Priority: optional
Maintainer: David Fox <david.fox@linspire.com>
Build-Depends: debhelper (>= 5.0),
               cabal-debian,
               ghc6 (>= 6.8),
               ghc6-doc,
               haddock,
               ghc6-prof,
               libghc6-unixutils-prof (>= 1.8),
               libghc6-unixutils-doc (>= 1.8),
               libghc6-zlib-prof,
               libghc6-zlib-doc,
               libghc6-bzlib-prof,
               libghc6-bzlib-doc,
               libghc6-haxml-dev,
               haxml-doc,
               libghc6-mime-prof (>= 1.2),
               libghc6-mime-doc (>= 1.1),
               libghc6-extra-prof (>= 1.26),
               libghc6-extra-doc,
               libghc6-magic-dev,
               magic-haskell-doc,
               libghc6-mime-prof,
               libghc6-mime-doc,
               libgmp3c2,
               libghc6-mime-prof (>= 1.2),
Standards-Version: 3.7.2.2
Section: devel

Package: libghc6-autobuilder-dev
Section: libdevel
Architecture: any
Depends: ${haskell:Depends}
Conflicts: libghc6-debian-dev
Provides: libghc6-debian-dev
Replaces: libghc6-debian-dev
Description: A library version of the autobuilder
 A Haskell library providing an autobuilder for Debian packages.
 .
 This package contains the libraries compiled for GHC 6.

Package: libghc6-autobuilder-doc
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: Build Debian source packages in suitable environments
  .
  This package contains the documentation files.

Package: autobuilder
Section: devel
Architecture: any
Recommends: subversion
Depends: ${shlibs:Depends},
         ${haskell:Depends},
         build-env (>= 2.20),
         rsync,
         dupload,
         darcs,
         tla,
         mercurial,
	 subversion,
         apt,
         build-essential,
         quilt,
         curl
Description: Build and upload debian packages in clean enviroments

Package: newdist
Replaces: autobuilder-newdist
Conflicts: autobuilder-newdist
Section: devel
Architecture: any
Depends: ${shlibs:Depends},
         ${haskell:Depends}
Suggests: freespire-archive-keyring
Description: Debian pool manager

Package: autobuilder-web-client
Section: devel
Architecture: any
Depends: ${shlibs:Depends},
         ${haskell:Depends},
         autobuilder,
         apache | httpd-cgi
Description: Web client for autobuilder (Unimplemented)
