Source: autobuilder
Priority: optional
Maintainer: David Fox <david.fox@linspire.com>
Build-Depends: debhelper (>= 5.0),
               haskell-devscripts,
               ghc6 (>= 6.8),
               ghc6-doc,
               haddock,
               hscolour,
               ghc6-prof,
               libghc6-mtl-prof,
               libghc6-mtl-doc,
               libghc6-network-prof,
               libghc6-network-doc,
               libghc6-parsec3-prof,
               libghc6-parsec3-doc,
               libghc6-regex-compat-prof,
               haskell-regex-compat-doc,
               libghc6-regex-posix-prof,
               haskell-regex-posix-doc,
               libghc6-xhtml-prof,
               libghc6-xhtml-doc,
               libghc6-unixutils-prof (>= 1.8),
               libghc6-unixutils-doc (>= 1.8),
               libghc6-debian-repo-prof (>= 5.6.8),
               libghc6-debian-repo-doc (>= 5.6.8),
               libghc6-debian-prof (>= 3.46),
               libghc6-debian-doc (>= 3.46),
               libghc6-zlib-prof,
               haskell-zlib-doc,
               libghc6-bzlib-prof,
               libghc6-bzlib-doc,
               libghc6-cgi-prof,
               libghc6-cgi-doc,
               libghc6-haxml-dev,
               haxml-doc,
               libghc6-mime-prof (>= 1.2),
               libghc6-mime-doc (>= 1.1),
               libghc6-extra-prof (>= 1.26),
               libghc6-extra-doc,
               libghc6-magic-dev,
               magic-haskell-doc,
               libghc6-mime-prof,
               libghc6-mime-doc,
               libgmp3c2,
               libghc6-mime-prof (>= 1.2),
Standards-Version: 3.7.2.2
Section: devel

Package: libghc6-autobuilder-dev
Section: libdevel
Architecture: any
Depends: ${haskell:Depends}
Description: A library version of the autobuilder
 A Haskell library providing an autobuilder for Debian packages.
 .
 This package contains the libraries compiled for GHC 6.

Package: libghc6-autobuilder-doc
Architecture: any
Section: libdevel
Depends: ${haskell:Depends}
Description: Build Debian source packages in suitable environments
  .
  This package contains the documentation files.

Package: autobuilder
Section: devel
Architecture: any
Recommends: subversion
Depends: ${shlibs:Depends},
         ${haskell:Depends},
         libghc6-autobuilder-dev (= ${Source-Version}),
         build-env (>= 2.30),
         rsync,
         dupload,
         darcs,
         tla,
         mercurial,
	 subversion,
         apt,
         build-essential,
         quilt,
         curl
Description: Build and upload debian packages in clean enviroments
