#!/usr/bin/make -f
include /usr/share/haskell-devscripts/hlibrary.mk

Version.hs: debian/changelog Makefile
	/bin/echo -e "module Version where\nversion :: String\nversion = \"$(shell dpkg-parsechangelog | sed -n 's/^Version:[ \t]*//p')\"" > $@

clean::
	rm -f *.o *.hi */*.o */*.hi Version.hs
	/bin/echo -e "module Version where\nversion :: String\nversion = \"$(shell dpkg-parsechangelog | sed -n 's/^Version:[ \t]*//p')\"" > Version.hs
